  <form action="/product/search" method="post">
    <input type="search" name="keyword" id="" placeholder="Enter to search">
      <button type="submit">Search</button>
  </form>
  
  <a href="/product/sort/asc"  class="btn btn-success">ASC</a>
  <a href="/product/sort/desc"  class="btn btn-success">DESC</a>
  


<div class="body">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Prices</th>
      <th>Category</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {{#each product}}
      <tr>
        <td>{{name}}</td>
        <td>{{size}}</td>
        <td>{{prices}}</td>
        <td>{{category.name}}</td>
        <td>
          <img src="{{ image }}" alt="" width="100" height="100">
        </td>
        <td><a href="/product/edit/{{_id}}">Edit</a></td>
        <td><a
            href="/product/delete/{{_id}}"
            onclick="return confirm('Are you sure to delete?');"
          >Delete</a></td>
      </tr>
    {{/each}}
  </table>
</div>
  <a href="/product/add"  class="btn btn-success">Add new</a>

